.title {
  color: $base-color;
  margin-left: 3px;
}

body {
  overflow-y: scroll;
}

.guide-wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.wrapper-inner {
  min-height: 70vh;
}