@import '~/style/variables';
@import '~/style/mixins';


.button__primary{
  @include primary-button;
  @include active
}


.button__secondary{
  @include secondary-button;
  @include active
}

.login-form {
  min-width: 300px;
  max-width: 500px;
  width: 80%;
}
