.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

.title {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}