@import '~/style/mixins';

.title {
  color: $base-color;
}

.tabs-wrp{
  padding: 20px;
  min-width: 400px;
  width: min-content;
  text-align: center;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 215px;
  margin: 0 auto;
}
