@import '~/style/variables';
@import '~/style/mixins';
.text{
  &__input{
    @include text-input;
  }

  &__label{
    position: relative;
    @include input-label;
  }

  &__warning{
    position: absolute;
    font-size: 0.7em;
    bottom: -0.7em;
    right: 0;
  }
}
