$base-color: #f3c139;
$secondary-color: #39bef3;
$verified-color: #006400;
$recommended-color:#B8860B;
$wrong-color:#8B0000;
$text-color: #3d3d3d;

$color-difficulty-1: #d6ffcc;
$color-difficulty-2: #f7ffd2;
$color-difficulty-3: #fff9b7;
$color-difficulty-4: #fde7c9;
$color-difficulty-5: #faceb0;
$color-difficulty-6: #fdb4b4;