.results-wrapper {
  min-width: 500px;
  padding: 20px 40px;
  max-height: 700px;
}

.results-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
}

.btn-sound {
  background-color: transparent;
  border: none;
  background-color: #525252;
  -webkit-mask-image: url('/assets/img/sound.svg');
  mask-image: url('/assets/img/sound.svg');
  -webkit-mask-size: 27px 23px;
  mask-size: 27px 23px;
  width: 27px;
  height: 23px;
  transition: opacity .3s;
  margin-left: 15px;
  margin-right: 20px;
  opacity: .7;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.results-subtitle {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}