.cards-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
}

.buttons-wrapper {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 450px;
}

.link {
  text-decoration: none;
  color: #000;
}