@import '~/style/mixins';

.password{
  &__input{
    @include text-input;
  }

  &__label{
    position: relative;
    @include input-label;
  }

  &__rules{
    list-style-type: none;
    font-size: 0.7em;
    text-align: left;
  }

  &__rule-required{
    color: $wrong-color;
  }

  &__rule-recommended{
    color: $recommended-color;
  }

  &__rule-hidden{
    display: none;
  }

  &__rule-fulfilled{
    color: $verified-color
  }

  &__show-btn-wrp{
    position: absolute;
    bottom:2px;
    right:20px;
    cursor: pointer;
    z-index: 2;
  }
  &__show-btn, &__hide-btn{
    display: block;
    position: relative;
    margin-left: 20px;
    width: 30px;
    height: 20px;
    color:$base-color;
    border-top: 2px solid currentColor;
    border-radius: 50%;
  }

  &__show-btn::after, &__hide-btn::after{
    position: absolute;
    top:1px;
    left:10px;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: currentColor;
    border-radius: 50%;
  }

  &__show-btn{
    color: $secondary-color;
  }

  &__show-checkbox{
    position: absolute;
    right: 0;
    top:0;
    opacity: 0;
  }
}
